.fade + li.mToggleItem{
	display: block !important;
	visibility: hidden;

	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;

	-webkit-transition: opacity .3s ease-in, visibility 0s linear .3s;
	-moz-transition: opacity .3s ease-in, visibility 0s linear .3s;
	-o-transition: opacity .3s ease-in, visibility 0s linear .3s;
	-ms-transition: opacity .3s ease-in, visibility 0s linear .3s;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	transition: opacity .3s ease-in, visibility 0s linear .3s;

	
}	

.fade li:hover + li.mToggleItem {
	visibility: visible;

	-webkit-transition-delay: 0s;
	-moz-transition-delay: 0s;
	-o-transition-delay: 0s;
	-ms-transition-delay: 0s;
	transition-delay: 0s;

	opacity: 1;
}