html { height: 100% }
body { height: 100%; margin: 0; padding: 0; background: #000000; color:#333;}
h1.boroughTitle{ font: bolder 34px Arial,sans-serif; line-height: 0.2em; color: #9C9C9C;}
#map_canvas, #map_canvasOverlay { height: 100%; position: absolute; z-index: 1; bottom:0; right:0; width: 400px;}

#map_canvasOverlay { z-index: 2;background: rgba(0,0,0,0.5);}
#chartHolder { position: absolute; z-index: 2; right:0; bottom: -20px; /*display: none;*/ opacity: 0.85; background-color: rgba(255,228,181,0.9);}
button { position: absolute; bottom: 300px; right: 0; z-index: 3;}
button.showOverlays { right: 150px;}
button.clearOverlays { right: 300px;}
button.viewSpikeLee { right: 450px;}
.movieInfo{width: 80%; position: absolute; left: 0; top:0;}
.movieInfo ul.vertImg li { position: relative;}
.movieInfo ul.vertImg li .flashAnim{ position: absolute;}
.filmNames { background: #333; padding: 5px; width: 900px; height: 100px; position: absolute; top: 190px; left: 0; z-index: 4; color: #fff; font: bold 16px Arial, sans-serif; overflow: hidden;}
.filmNames ul { list-style: none; display: inline;}
.filmNames ul li a{ color:#fff; cursor: pointer; float: left; margin: 3px 5px; opacity: 0.5; text-decoration: none;}
.mainImg img{ width: 100%;}
.soundControls{ opacity:0; position: absolute; top:0; right: 0; z-index: 5;}